/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/SectionAbout/styles.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.styles_slideTop__uPL54 {
    animation: styles_slide-top__pBeSI 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes styles_slide-top__pBeSI {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100px);
    }
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/components/SectionAction/styles.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.styles_font-poppins__dqeYX {
    font-family: 'Poppins', sans-serif;
}

.styles_background__Ai7wP {
    background-color: #a2bd30;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #ffffff, #a2bd30),
        repeating-radial-gradient(
            circle at center center,
            #ffffff,
            #ffffff,
            40px,
            transparent 80px,
            transparent 40px
        );
    background-blend-mode: multiply;
}

.styles_section__KKL64 {
    font-family: 'Poppins', sans-serif;
    background-color: #a2bd30;
    opacity: 1;
    background-image: radial-gradient(circle at center center, #ffffff, #a2bd30),
                      repeating-radial-gradient(circle at center center, #ffffff, #ffffff 40px, transparent 80px, transparent 40px);
    background-blend-mode: multiply;
}

